[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
notebook = "*"
jupyter = "*"

[packages]
beautifulsoup4 = "*"
python-docx = "*"
requests = "*"
gunicorn = "*"
phonenumbers = "*"
django-heroku = "*"
Django = "*"
pyOpenSSL = "*"

[requires]
python_version = "3.8"
